/* Estilos globais */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    max-width: 100%; /* Garante que o container não ultrapasse a largura da tela */
    width: 80%; /* Largura padrão do container */
    padding: 20px;
    box-sizing: border-box; /* Inclui o padding na largura total */
}

/* Tema claro */
body.light-theme {
    background-color: #ffffff;
    color: #333333;
}

/* Tema escuro */
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

/* Media Query para modo retrato */
@media (orientation: portrait) {
    .container {
        width: 80%; /* Ocupa 80% da largura em modo retrato */
        max-width: 400px; /* Limita a largura máxima para telas menores */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
}

/* Estilo do relógio */
#clock {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Estilo da data */
#date {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilo das informações adicionais */
.info {
    font-size: 0.9rem;
    color: #888;
}

/* Estilo do toggle switch */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
